html, body { font-family: Avenir, Arial, Helvetica, sans-serif; background-color: #F6F6F6;}

/* header */
#header { position: absolute; z-index: 2; top: 0; right: 0; left: 0; width: auto; height: auto; padding: 50px; }
#header .logo { float: left; }
#header .logo a { color: #000; }
#header .mobile-nav { display: none; }
#header .logo img { max-width: 160px; margin-top: -10px; }
#header > nav { float: right; }
#header > nav > ul { float: left; }
#header > nav > ul > li { float: left; margin-right: 20px; }
#header > nav > ul > li > a { color: #fff; font-weight: 600; }
#header > nav > .lang { float: right; font-weight: 600; background: #000; color: #fff; padding: 8px 10px; border-radius: 16px; margin-top: -8px; }
#header > nav > .lang > a { color: #fff; }
#header > nav > .lang > ul { display: none; }
#header > nav > .lang > ul > li { }
#header > nav > .lang > ul > a { }


/* components */
.btn { padding: 12px 18px; display: inline-block; font-size: 1em; box-sizing: border-box; font-weight: 600; border-radius: 24px; cursor: pointer; }
.btn.sm {}
.btn.md {}
.btn.lg { font-size: 1.3em; font-weight: 500; border-radius: 30px; padding: 14px 24px; }
.btn.default { background: #FF27A1; color: #fff; border: 2px solid #FF27A1; }
.btn.black { background: #1F1F1F; color: #fff; border: 2px solid #1F1F1F; }
.btn.white { background: #fff; color: #1F1F1F; border: 2px solid #1F1F1F; }

.linkedin:after { content: ''; position: absolute; width: 20px; height: 20px; background: url('../images/icon-social-linkedin.svg') no-repeat; margin-left: 6px; margin-top: -3px;}

/* 22px */
.t1 { font-size: 1.375em; font-weight: 800; }
/* 18px */
.t2 { font-size: 1.125em; font-weight: 500; } 
.t3 { font-size: 1em; font-weight: 300; }

/* utils */
.Aligner { display: flex; align-items: center; justify-content: center; }
.Aligner-item { max-width: 50%; }
.Aligner-item--top { align-self: flex-start; }
.Aligner-item--bottom { align-self: flex-end; }
.center { text-align: center; }
.clear {clear: both;}
.clear:after { content: ''; clear: both; }

/* common */
.box { background: #fff; position: relative; }
.box:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 2px; background: #EC148E; }
.contents { margin: 0 auto; max-width: 1000px; display: block; }



/* setion */
.section { display: inline-block; clear: both; width: 100%; padding: 80px 0; }
.section.white { background: #fff; }
.section p { line-height: 1.5em; }
.title { margin-bottom: 50px; }

.section-main { padding-top: 130px; min-height: 580px; overflow: hidden; background-image: url("../images/main-bg.svg"); background-position: center center; background-size: cover; background-repeat: no-repeat; background-color: #fff; }
.section-main .main-txt { text-align: center; transform: translateX(100px); }
.section-main .main-txt:before { content:''; position: absolute; top: 0; background: url(../images/main-obj.png) no-repeat top left; width: 300px; height: 400px; background-size: 300px auto; margin-top: -50px; margin-left: -500px; }
.section-main .main-txt h1 { font-size: 3em; font-weight: 100; color: #fff; line-height: 1.3em; margin-top: 40px; position: relative;}
/* .section-main .main-txt h1:before { content:''; position: absolute; } */
.section-main .main-img { position: absolute; }
.section-main .main-img img { max-width: 300px;}


.section-actions {}
.section-actions .actions-box { width: calc(33.3% - 13.3333px); margin-right: 20px; float: left; min-height: 280px; transform: translateY(-140px); text-align: center; }
.section-actions .actions-box.end { margin-right: 0; }
.section-actions .actions-box .msg { text-align: center; font-size: 1.25em; font-weight: 800; margin: 94px 0 20px; display: inline-block; }
.section-actions .actions-box .msg.progress { margin: 60px 0 20px; }
.section-actions .actions-box .sub-msg { font-size: 1em; font-weight: 300; display: inline-block; line-height: 1.4em; }
.section-actions .actions-box .actions-icons { width: 100%; }
.section-actions .actions-box .actions-icons ul { display: inline-block; text-align: center; }
.section-actions .actions-box .actions-icons ul li { float: left; margin: 10px; }
.section-actions .actions-box .actions-icons ul li.icon a { background: #ececec; border-radius: 50%; width: 42px; height: 42px; display: inline-block; }


.section-about { padding: 0; padding-top: 50px; }
.section-about .title { margin-bottom: 30px; }
.section-about .left { float: left; width: 60%; }
.section-about .left h2 { margin-bottom: 10px; }
.section-about .left p { margin-bottom: 20px; margin-top: 12px; line-height: 1.5em; }
.section-about .right { float: right; width: 30%; }
.section-about .right:after { content: ''; clear: both; }
.section-about .about-box { width: 100%; height: 300px; overflow: hidden; }
.section-about .about-box img { width: inherit; }


.section-chars { padding-top: 130px; height: 500px; }
.section-chars ul {}
.section-chars ul li { width: 100%; float: left; margin-bottom: 30px; min-height: 120px; }
.section-chars ul li .circle { width: 110px; height: 110px; background: #fff; border-radius: 50%; float: left; }
.section-chars ul li .txt { float: left; height: 110px; padding-left: 50px; width: calc(100% - 160px)}
.section-chars ul li h3 { margin-top: 20px; }
.section-chars ul li p { margin-top: 10px; }


.section-road-map { padding-bottom: 80px; }
.section-road-map .title { text-align: center; margin-top: 40px; }
.section-road-map ul.road-map-wrapper { width: 500px; margin: 0 auto; }
.section-road-map ul.road-map-wrapper > li { margin-bottom: 28px; position: relative; display: list-item;}
.section-road-map ul.road-map-wrapper > li:nth-last-child(1):after { background: none; }
.section-road-map ul.road-map-wrapper > li:after { content: ''; width: 4px; background: #F6D0E6; position: absolute; background: #F6D0E6; left: 0; height: auto; top: 28px; min-height: 63px; margin-left: -43px; height: 100%; }
.section-road-map ul.road-map-wrapper > li h3 { position: relative; font-weight: 500; display: table-cell; vertical-align: top; padding: 6px; min-width: 100px; }
.section-road-map ul.road-map-wrapper > li h3:before { content: ''; position: absolute; left: 0; margin-left: -50px; width: 18px; height: 18px; border-radius: 50%; box-sizing: border-box; border: 5px solid #FF27A1; }
.section-road-map ul.road-map-wrapper > li ul.road-map-detail { display: table-cell; vertical-align: top; margin-left: 40px; top: 0; margin-top: -8px; padding-left: 50px; padding-bottom: 20px; }
.section-road-map ul.road-map-wrapper > li ul.road-map-detail > li { font-size: 1.1em; line-height: 1.8em; list-style: square; }


.section-members { padding: 80px 0 60px; display: inline-block; }
.section-members ul {}
.section-members ul li { float: left; width: 25%; }
.section-members ul li:nth-child(n+3) { margin-bottom: 60px; }
.section-members ul li .circle { width: 200px; height: 200px; border-radius: 50%; background: #fff; margin: 0 auto; overflow: hidden; }
.section-members ul li .circle img { width: inherit; }
.section-members ul li h3 { text-align: center; margin-top: 20px; }
.section-members ul li h3.move-left { margin-left: -24px; }
.section-members ul li h4 { text-align: center; margin-top: 6px; line-height: 1.4em; font-size: 0.9em; }
.section-members ul.histories { margin-top: 20px; width: 80%; margin-left: 10%; }
.section-members ul.histories li { float: none; width: 100%; list-style: square; line-height: 2em; margin-bottom: 0; }


.section-press { padding: 80px 0; }
.section-press ul {}
.section-press ul li { float: left; width: 50%; position: relative; margin-bottom: 30px; }
.section-press ul li > div { width: 120px; height: 100px; overflow: hidden;}
.section-press ul li > div img { width: inherit; vertical-align: middle; }
.section-press ul li > h3 { position: absolute; left: 140px; top: 30px; font-weight: 500; }
.section-press ul li > h3 a { color: #000; }
.section-press ul li > span { position: absolute; left: 140px; top: 60px; font-size: 0.875em; }


.section-partners {}
.section-partners .arrows { position: relative; }
.section-partners .arrows > div { width: 20px; height: 20px; background: #FF27A1; border-radius: 50%; position: absolute; top: 40px; }
.section-partners .arrows .left { left: 0; margin-left: -50px; }
.section-partners .arrows .right { right: 0; margin-right: -50px; }
.section-partners ul {}
.section-partners ul li { float: left; width: calc(25% - 20px); height: 100px; background: #efefef; margin-right: 20px; }
.section-partners ul li:nth-child(4n) { margin-right: 0; }
.section-partners ul li a {}
.section-partners ul li a img { width: inherit; }


.section-faq {}
.section-faq .nav-hor {}
.section-faq .nav-hor ul {}
.section-faq .nav-hor ul li { float: left; width: calc(33.3333% - 2.66px); margin-right: 2px; height: 40px; background: #FFDBF0; text-align: center; line-height: 40px; cursor: pointer; color: #fff; }
.section-faq .nav-hor ul li.active { background: #FF27A1; font-weight: 600; }
.section-faq .nav-hor ul li:nth-child(1) { border-radius: 20px 0 0 20px; }
.section-faq .nav-hor ul li:nth-last-child(1) { border-radius: 0 20px 20px 0; }
.section-faq .faq-list { display: inline-block; padding: 50px 50px 0; width: calc(100% - 100px); }
.section-faq .faq-list ul {}
.section-faq .faq-list ul li { margin-bottom: 26px; cursor: pointer; }
.section-faq .faq-list ul li:nth-last-child(1) { margin-bottom: 0; }
.section-faq .faq-list ul li h3 { font-size: 1.125em; margin-bottom: 16px; position: relative; margin-left: 34px; }
.section-faq .faq-list ul li h3:before { content: ''; position: absolute; left: 0; width: 20px; height: 20px; background: url('../images/icon-desc-inactive.svg') no-repeat center center; margin-left: -30px; top: 0; margin-top: -2px; }
.section-faq .faq-list ul li.active h3 { font-weight: 500; }
.section-faq .faq-list ul li.active h3:before { content: ''; background: url('../images/icon-desc-active.svg') no-repeat center center; }
.section-faq .faq-list ul li > p { display: none; width: 100%; }
.section-faq .faq-list ul li.active > p { display: inline-block; }
.section-faq .faq-list ul li p { background: #F5F5F5; padding: 14px 18px; }


.section-community { height: auto; display: inline-block; }
.section-community .title {}
.section-community ul { width: 60%; margin-left: 20%; clear: both; display: inline-block; }
.section-community ul li { float: left; width: 25%; text-align: center; }
.section-community ul li a { color: #000; font-weight: 300; }
.section-community ul li a .circle { width: 110px; height: 110px; background: #fff; border-radius: 50%; display: inline-block; }
.section-community ul li a h3 { margin-top: 20px; font-weight: 500; }


/* footer */
#footer { width: 100%; background: #1F1F1F; max-height: 160px; height: 70px; padding: 30px 0; }
#footer .left { float: left; }
#footer .right { float: right; }
#footer .logo-footer {}
#footer .logo-footer img { max-width: 160px; }
#footer .copyright { font-weight: 500; font-size: 0.75em; color: #9E9E9E; margin-top: 10px; }
#footer .footer-menu { padding-top: 24px; }
#footer .footer-menu li { float: left; margin-right: 20px; }
#footer .footer-menu li a { color: #fff; font-weight: 100; }


#countdown  { width: 380px; display: block;
    height: 120px;
    padding-top: 24px;
    margin: 0 auto; } 
#countdown .clock-item { width: calc(25% - 12px); float: left; margin-right: 12px; } 
#countdown .inner { position: relative; }
#countdown .text { position: absolute; top: 0; margin-top: 22px; text-align: center; color: #fff; width: 100%; }
#countdown .text .val { font-size: 1.4em; font-weight: 600; }
#countdown .type-time { font-size: 0.65em; margin-top: 6px;}